.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.label{
    color: "#b9bbbe";
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}
.input{
    flex-grow: 1;
    height: '40px';
    border: '1px solid back';
    border-radius: '5px';
    color: '#dcddde';
    background: '#35393f';
    margin: 0;
    font-size: '16px';
    padding: '0 5px';
}